.upload-form {
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    border: 1px solid #dedede;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 450px;
    padding: 30px 50px;
    padding-top:50px;
    text-align: center;
    cursor: pointer;
    border-radius: 10%
  }
  
  input {
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    font-weight: bold;
    
  }
  
  label {
    font-weight: bold;
    color: white;
    display: block;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    
  }
  
  .upload{
    background-color: #6976d9;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    margin: 20px 0px;
  } 